#set-platform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid rgb(217, 217, 217);
    padding: 12px;
}

#set-xbox-ip {
    padding: 8px;
    justify-self: right;
    margin-left: auto;
    display: none;
}

#song-list-buttons {
    display: flex;
    justify-content: center;
}
/* Song list search overrides */
.chosen-container .chosen-drop {
    font-family: sans-serif;
    font-size: 12pt;
    background: rgba(22, 22, 22, 0.8);
    border-radius: 0;
    border: 2px solid rgb(242, 194, 114);
    color: rgb(217, 217, 217);
}

.chosen-container .chosen-results {
    color: rgb(217, 217, 217);
}

.chosen-container-single .chosen-single {
    font-family: sans-serif;
    font-size: 12pt;
    background: none;
    border-radius: 0;
    border: 2px solid rgb(242, 194, 114);
    color: rgb(217, 217, 217);
    padding: 12px;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.chosen-container-single .chosen-search input[type="text"] {
    border: 1px solid rgb(217, 217, 217);
    color: rgb(217, 217, 217);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chosen-container-multi .chosen-choices {
    background-color: rgb(242, 194, 114);
    background-image: none;
}

.chosen-container .chosen-results li.highlighted {
    background-color: rgb(242, 194, 114);
    background-image: none;
    color: rgb(22, 22, 22);
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-color: rgb(242, 194, 114);
    background-image: none;
    border: none;
    color: rgb(22, 22, 22);
}

.title {
    justify-self: center;
    margin-left: auto;
    z-index: 0;
    font-family: sans-serif;
    color: rgb(217, 217, 217);
    background: rgb(22, 22, 22);
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
}

.title::before {
    content: "|";
    color: rgb(94, 85, 79);
    margin-right: 8px;
}
.title::after {
    content: "|";
    color: rgb(94, 85, 79);
    margin-left: 8px;
}

.title-left {
    justify-self: center;
    margin-left: auto;
    z-index: 0;
    font-family: sans-serif;
    color: rgb(217, 217, 217);
    background: rgb(22, 22, 22);
    padding: 0 10px;
    position: absolute;
    left: 3%;
}

.title-left::before {
    content: "|";
    color: rgb(94, 85, 79);
    margin-right: 8px;
}
.title-left::after {
    content: "|";
    color: rgb(94, 85, 79);
    margin-left: 8px;
}

.sub-content {
    border: 2px solid rgb(94, 85, 79);
    padding: 10px;
}

body {
    background: rgb(22, 22, 22);
    color: rgb(217, 217, 217);
    font-family: sans-serif;
    margin: 15px;
}

button {
    font-family: sans-serif;
    font-size: 12pt;
    border: none;
    background: none;
    cursor: pointer;
}

nav {
    font-family: sans-serif;
    font-size: 12pt;
    border: 2px solid rgb(217, 217, 217);
    display: flex;
    align-items: center;
    justify-content: left;
    color: rgb(94, 142, 134);
    width: 100%;
    height: 45px;
}

nav button {
    z-index: 1;
    color: rgb(94, 142, 134);
    padding: 8px;
    margin: 2px
}

nav button:hover {
    color: rgb(217, 217, 217);
}

nav input {
    font-family: sans-serif;
    font-size: 12pt;
    border: 2px solid rgb(94, 142, 134);
    background: none;
    color: rgb(217, 217, 217);
}

main {
    border: 2px solid rgb(217, 217, 217);
    margin-top: 15px;
    padding: 10px;
    display: none;
}

main button {
    color: rgb(242, 194, 114);
    padding: 8px;
    margin: 2px;
}

main button:hover {
    color: rgb(217, 217, 217);
}

main button::before {
    content: "[";
    color: rgb(94, 85, 79);
    margin-right: 8px;
}
main button::after {
    content: "]";
    color: rgb(94, 85, 79);
    margin-left: 8px;
}

label {
    display: block;
}
input[type=range] {
    -webkit-appearance: none;
    background: none;
    width: 220px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 6px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgb(94, 85, 79);
    height: 5px;
    border-radius: 10px;
    margin-top: -10px
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(242, 194, 114);
    margin-top: -5px;
}

input[type="file"] {
    display: none;
}

.file-upload::-webkit-file-upload-button {
    background: none;
    border: 2px solid rgb(94, 142, 134);
    cursor: pointer;
    color: rgb(217, 217, 217);
    padding: 8px;
    margin: 2px;
    font-family: sans-serif;
    font-size: 12pt;
    transform: scale(0.75);
}

footer {
    border: 2px solid rgb(217, 217, 217);
    margin-top: 15px;
    padding: 10px;
}

footer button {
    /*color: rgb(115, 132, 94);*/
    color: rgb(242, 194, 114)
}

footer button:hover {
    color: rgb(217, 217, 217);
}

footer button::before {
    content: "[";
    color: rgb(94, 85, 79);
    margin-right: 8px;
}
footer button::after {
    content: "]";
    color: rgb(94, 85, 79);
    margin-left: 8px;
}